/* line 1, ../sass/style.scss */
body {
  background: #91AA9D;
}

/* line 5, ../sass/style.scss */
svg {
  height: 90vh;
  display: block;
  margin: 5vh auto;
  cursor: pointer;
  max-width: 100vw;
}

/* line 13, ../sass/style.scss */
.spin-wheel, .cls-1, .vu, .spin-wheel-2 {
  stroke-dasharray: 3000;
  stroke-dashoffset: 3000;
}

@-webkit-keyframes draw-tape-machine {
  0% {
    stroke-dashoffset: 3000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes draw-tape-machine {
  0% {
    stroke-dashoffset: 3000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes spin-wheel-key {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
}
@keyframes spin-wheel-key {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
}
@-webkit-keyframes spin-wheel-key-2 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
}
@keyframes spin-wheel-key-2 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
}
/* line 37, ../sass/style.scss */
.spin-wheel {
  -webkit-animation: draw-tape-machine 5s forwards, spin-wheel-key 2s 2s infinite linear;
          animation: draw-tape-machine 5s forwards, spin-wheel-key 2s 2s infinite linear;
}

/* line 41, ../sass/style.scss */
.spin-wheel-2 {
  -webkit-animation: draw-tape-machine 5s forwards, spin-wheel-key-2 2s 2s infinite linear;
          animation: draw-tape-machine 5s forwards, spin-wheel-key-2 2s 2s infinite linear;
}

/* line 45, ../sass/style.scss */
.cls-1 {
  -webkit-animation: draw-tape-machine 5s forwards;
          animation: draw-tape-machine 5s forwards;
}

/* line 49, ../sass/style.scss */
.mustache {
  opacity: 0;
  transition: .5s;
}

/* line 55, ../sass/style.scss */
svg:hover .mustache {
  opacity: 0.5;
}

/* line 61, ../sass/style.scss */
svg:active .mustache {
  -webkit-transform: translate(0%, -20%);
          transform: translate(0%, -20%);
  opacity: 0.7;
}

@-webkit-keyframes vu-move {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
  }
  30% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
  }
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
  }
  70% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
  }
}

@keyframes vu-move {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
  }
  30% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
  }
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
  }
  70% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
  }
}
/* line 80, ../sass/style.scss */
.vu {
  -webkit-animation: draw-tape-machine 5s forwards, vu-move infinite 2s 2s;
          animation: draw-tape-machine 5s forwards, vu-move infinite 2s 2s;
}

@-moz-document url-prefix() {
  /* line 85, ../sass/style.scss */
  .vu {
    animation: draw-tape-machine 5s forwards;
  }

  /* line 88, ../sass/style.scss */
  .spin-wheel {
    animation: draw-tape-machine 5s forwards;
  }

  /* line 92, ../sass/style.scss */
  .spin-wheel-2 {
    animation: draw-tape-machine 5s forwards;
  }
}
